body{
    background-color: beige;
    padding:3rem;
}
h1{
    text-align: center;
    color:rgb(46, 20, 244);
}
.bingo{
    border:1px solid black;
    height: 45rem;
    padding: 3rem;
}
.cartones{
    display:flex;
    flex-direction: row;
    margin-top: 50px;
    flex-wrap: wrap;
    gap: 10px;
}
.carton{
    border:1px solid black;
    width:500px;
    height: 200px;
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    grid-template-rows: repeat(3, 1fr);
    justify-content: center;
    margin-left: 20px;
    
}
.carton div{
    display: flex;
    padding:10px;
    border: 1px solid black;
    justify-content: center;
}
.carton p{
    display: flex;
    padding:10px;
    border: 1px solid black;
    justify-content: center;
}