/*
****** ESPECIFICIDAD ******
  ELEMENTO >
              CLASE  
                    > 
                        ID 
                             >
                                !IMPORTANT
*/

html{
    font-size:62.5%;
}
body{
    font-size: 16px;
}
/* ESTO PERMITE AJUSTA 10PX=1REM */

body{
    background-color: black;
}

 /* SELECTOR ELEMENTO  */
 
    h1{
        color:green;
        text-transform: uppercase;
        text-align: center;
        font-size: 4rem;
    }

    /* SELECTOR CLASE  */
    .h3clases{
        color:red;
        text-transform: uppercase;
        text-align: center;
        font-size: 4rem;
    }

    /* SELECTOR DE ID  */
    #pId{
        color:blue;
        text-transform: uppercase;
        text-align: center;
        font-size: 4rem;  
    }

 /* SELECTOR DE ATRIBUTO  */

    [src="/proyecto_inicio/img/Logo-Adecco.png"]{
        margin:50px;
        border:1px solid black;
        
    }

 /* SELECTOR DE CADENA DESCENDENTE  */
     
    .pruebas h4{
        color:pink;
        text-transform: uppercase;
        text-align: center;
        font-size: 4rem;  
    }

 /* SELECTOR TODOS LOS HIJOS  */
    .pruebas2 > h5{
        color:yellow;
        text-transform: uppercase;
        text-align: center;
        font-size: 4rem;
    }
    h5, h4{
        color:white;
        text-align: center;
    }

 /* SELECTOR MULTIPLE  */

.seccion7 h3,.seccion7 h6{
    color:purple;
    text-transform: uppercase;
    text-align: center;
    font-size: 4rem;
}
.amarillo{
    background-color: yellow;
    height: 300px;
}
.azul{
    background-color: blue;
    height: 100px;
    max-width: 88%;
    margin:0 auto;
}





.paraTexto{
    display: flex;
    max-width: 50%;
    
}
.paraTexto h3{
    color: var(--colorPrincipal);
    font-size: 17px;
    margin-bottom: 15px;
    font-weight: 800;
}
.paraTexto h2{
    color: var(--colorSecundario);
    font-size: 27px;
    margin-bottom: 15px;
    font-weight: 800;
    font-family: var(--fuenteBotones);
}
.paraTexto p{
    color: var(--colorSecundario);
    font-size: 15px;
    margin-bottom: 25px;
    font-weight: 400;
    font-family: var(--fuentePrincipal);
}
.paraTexto h4{
    color: var(--colorSecundario);
    font-size: 14px;
    font-weight: 800;
    font-family: var(--fuentePrincipal);
}
.ir{
    color: #F76666 ;
    font-size: 14px;
    font-weight: 700;
    margin-bottom: 50px;
    display: block;
    text-decoration: underline;
}