
:root{
    --colorPrincipal:#F76666;
    --colorSecundario:#02052F;
    --fuentePrincipal:'Open Sans', sans-serif;
    --fuenteBotones:"DinBold", sans-serif;
}

html{
    font-size:62.5%;

}
body{
    font-size: 16px;
    font-family: var(--fuentePrincipal);


}



/* ESTILOS GENERICOS */
    
    @media (min-width:1140px) {
        .contenedor{
         max-width: 83%;
         margin:0 auto;
        }
     }
     @media (max-width:1140px) and (min-width:768px) {
        .contenedor{
         max-width: 76%;
         margin:0 auto;
        }
     }
     @media (max-width:768px) and (min-width:480px) {
        .contenedor{
         max-width: 86%;
         margin:0 auto;
        }
     }
 /* ESTILOS MAIN */
.fondoMain{
    background-image: url(../img/11641893944_banner_zona_centro.png);
    background-size: cover;
    background-position: top left;
    padding: 80px 0 180px 0;
}
.margenDerecho{
    margin-right: 34%;
}
h1{
    background: rgba(248, 102, 102, 0.65);
    font-size: 4.5rem;
    font-family: var(--fuentePrincipal);
    font-weight: 800;
    margin-bottom: 10px;
    padding: 35px;
    color: #fff;
    
}

.fondoMain a{
    background-color: black;
    color: #fff;
    border: 2px solid #000;
    padding: 24px 94px;
    text-decoration: none;
    text-transform: uppercase;
    font-family: "DinBold", sans-serif;
    font-weight: 700;
    font-size: 1.4rem;
    
    
}
.flexMain{
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}

 /* ESTILOS CORPORACIONES */
.logos{
    background-color: #fff;
    border-radius: 20px;
    margin-top: -80px;
    padding-top: 20px;
    padding-bottom: 20px;
    border-radius:12px;
    display: flex;
    justify-content:space-evenly;
    align-items: center;
}


 /* CURSOS */
 .seccionCursos h3{
    text-align: center;
    color: var(--colorPrincipal);
    font-family: var(--fuentePrincipal);
    font-weight: 800;
    text-transform: uppercase;
    font-size: 1.7rem;
    margin: 40px 0px;
}

.seccionCursos>h2{
    margin-bottom: 72px;
    text-align: center;
    color: var(--colorSecundario);
    font-family: var(--fuentePrincipal);
    font-weight: 800;
    text-transform: uppercase;
    font-size: 2.7rem;

}

.botonesCursos{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 105px;
}

.botonVerTodo{
    background-color: var(--colorPrincipal);
    color: white;
    font-family: var(--fuentePrincipal);
    font-size: 1.4rem;
    padding: 12px 24px;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: 600;
    margin-right: 0.5rem;
    margin-left: 0.5rem;
    border: 1px solid var(--colorPrincipal);
}
.botonMadrid{
    background-color: white;
    color: var(--colorSecundario);
    font-family: var(--fuentePrincipal);
    font-size: 1.4rem;
    padding: 12px 24px;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: 600;
    margin-right: 0.5rem;
    margin-left: 0.5rem;
    border: 1px solid var(--colorPrincipal);
}

.cursosOfertados{
    margin-bottom: 120px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.cursosOfertados>div{

    max-width: 50%;
    flex: 2;
    padding: 40px 60px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 300px;
}

.marketing{
    background-image: url(../img/Curso-marketing-digital-centro.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: right;
    margin-right: 15px;
}

.videojuegos{
    background-image: url(../img/Curso-programacion-videojuegos-centro.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: right;
    margin-left: 15px;
}

.cursosOfertados h2{

    color: white;
    font-size: 2.7rem;
    text-transform: uppercase;
    font-weight: 700;
    margin-bottom: 22px;

}

.cursosOfertados a{
    color: var(--colorPrincipal);
    font-size: 1.4rem;
    background-color: white;
    border: 2px solid white;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 700;
    padding: 20px 60px;
    display: inline-block;
}

    

 /* PIDENOSLO */
 .pidenoslo{
    text-align: center;
    margin-bottom: 80px;
 }
.pidenoslo h3{
    font-size: 17px;
    margin-bottom: 22px;
    text-align: center;
    text-transform: uppercase;
    font-weight: 500;
    line-height: 1.2;
    font-family: var(--fuenteBotones);
    font-weight: 600;
    color:var(--colorSecundario);
}
.pidenoslo a{
    text-decoration: none;
    text-transform: uppercase;
    background-color: var(--colorPrincipal);
    font-weight: 700;
    float: none;
    padding: 20px 40px;
    border-radius: 96px;
    margin-top: 20px;
    display: inline-block;
    text-align: center;
    color: white;

}
.pidenoslo a:hover{
    background-color: var(--colorSecundario);
}

 /* VIDEO */
 .video{
    padding-bottom: 70px;
 }
.video div{
display: flex;
justify-content: center;

}

 /* PARA QUIEN SON ESTOS CURSOS */

.paraquien{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    color: var(--colorSecundario);
    font-size: 27px;
    margin-bottom: 15px;
    font-weight: 800;
    font-family: var(--fuenteBotones);
}

.paraTexto{

padding: 30px;
padding-bottom: 20px;
max-width: 50%;
flex:2;
flex-wrap: wrap;
}


.paraImagen{
    
margin-top: 12%;
flex:2;
display: flex;
flex-direction: column;
justify-content: flex-start;
width: 100%;
}

.box16{
    width: auto;
    height: 60%;
    padding:20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding:40px;
    background-color: #F76666;
}
.boxForma{
    height: 40%;
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    align-items: center;
    color:white !important;
    height: 100px;
    margin-top: -5%;
}
.blanco {
    color: white;
}
.paraTexto{
    display: flex;
    max-width: 50%;
}
.boxForma>div{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}
.boxForma h5{
    padding:30px;
    width: 60%;
    background-color: #000;
    margin-right: 4%;
    padding-bottom: 6%;
}
.botonDificil{
    height: 40px;
    width: 45px;
    margin-top: 2.5%;
}

.paraTexto h3{
    color: var(--colorPrincipal);
    font-size: 17px;
    margin-bottom: 15px;
    font-weight: 800;
}
.paraTexto h2{
    color: var(--colorSecundario);
    font-size: 27px;
    margin-bottom: 15px;
    font-weight: 800;
    font-family: var(--fuenteBotones);
}
.paraTexto p{
    color: var(--colorSecundario);
    font-size: 15px;
    margin-bottom: 25px;
    font-weight: 400;
    font-family: var(--fuentePrincipal);
}
.paraTexto h4{
    color: var(--colorSecundario);
    font-size: 14px;
    font-weight: 800;
    font-family: var(--fuentePrincipal);
}
.ir{
    color: #F76666 ;
    font-size: 14px;
    font-weight: 700;
    margin-bottom: 50px;
    display: block;
    text-decoration: underline;
}








 /* LOCALIZACIONES */
    .localizaciones{
        background-color: black;
        padding: 80px;
    }
    .localizaciones h2{
        color: white;
        font-size: 27px;
        margin-bottom: 15px;
        font-weight: 700;
        font-family: var(--fuenteBotones);
    }
    .localizaciones h3{
        color: white;
        font-size: 17px;
        margin-bottom: 15px;
        font-weight: 600;
        font-family: var(--fuenteBotones);
    }
    .localizaciones p{
        color: white;
        font-size: 13px;
        margin-bottom: 15px;
        font-weight: 500;
        font-family: var(--fuenteBotones);
    }a
    .localizaciones div{
        padding-top: 30px;
    }
    .direcciones{
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
    }
    .direcciones div{
        max-width: 25%;
        padding-right: 4%;
    }

 /* CONTACTAR */
.contactar{
    background-color: var(--colorPrincipal);
    padding: 60px;
}
.contactar h3{
    color:white;
    font-size: 17px;
    margin-bottom: 22px;
    font-weight: 300;
    font-family: var(--fuentePrincipal);
}
.contactar h2 {
    color: #fff;
    font-weight: 700;
    margin-bottom: 50px;
}
.telefonos{
    display:flex;
    flex-direction: row;
    justify-content: space-around;
}
.llamanos{
    width: 50%;
    background-color: white;
    border-radius:0.4rem;
    padding-left: 30px !important;
    padding-top: 20px!important;
    padding-bottom: 20px!important;
    padding-right: 30px!important;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}
.correo{
    width: 50%;
    margin-left: 30px;
    background-color: white;
    border-radius:0.4rem;
    padding-left: 30px !important;
    padding-top: 20px!important;
    padding-bottom: 20px!important;
    padding-right: 30px!important;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}
.telefonos h3{
    color: var(--colorSecundario);
    font-size: 14px;
    margin-bottom: 15px;
    font-weight: 800;
    font-family: var(--fuenteBotones);
}
.datos{
    margin-left:15px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}
.datos a{
    text-decoration: none;
    color:var(--colorPrincipal);
    font-family: var(--fuenteBotones);
    font-weight: 600;
    font-size: 14px;
}

 /* FOOTER */
.pie{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.nosotros{
    margin-top: 4%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}
.nosotros  h3{ 
color:var(--colorSecundario);
font-size: 17px;
margin-bottom: 22px;
font-weight: 800;
font-family: var(--fuentePrincipal);
text-transform: uppercase;
}
.nosotros a{
    margin-left: 40px;
    color:var(--colorSecundario);
}

.privacidad{
    margin-top: 30px;
    padding: 20px;
    border-top: 1px solid var(--colorSecundario);
    border-bottom: 1px solid var(--colorSecundario);
}
.privacidad a{
    font-size: 14px;
    color:var(--colorSecundario);
    margin-right: 50px;
}

/* BOTON FLOTANTE */
.scrollToTop {
    width: 60px;
    height: 60px;
    text-align: center;
    background-position: center center;
    background-size: cover;
    position: fixed;
    bottom: 75px;
    right: 40px;
    display: none;
    background-image: url(../img/up-top.png)
}

 /* HEADER */
 .cabecera{
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;

 }
 .login{
    display: flex;
    flex-direction: block;
    justify-content: flex-end;
    padding: 20px;
    
 }
 .login a{
    color: var(--colorPrincipal);
    text-decoration: none;
    margin-left: 7px;
    margin-right: 7px;
    font-family: var(--fuentePrincipal);
    font-weight: 400;
 }
 .login a:hover{
    text-decoration: underline;
 }
 .cabeceraTodo{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 1%;
 }
 .enlacesCabecera a{
    color: #02052F;
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    font-weight: 700;
    margin-right: 25px;
    text-decoration: none;
 }
 .enlacesCabecera a:hover{
    text-decoration: underline;
 }
 .informateC{
    background-color: var(--colorPrincipal);
    color: #fff !important;
    display: inline-block;
    font-weight: 400;
    text-align: center;
    border: 1px solid transparent;
    padding: 0.6rem 1.5rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 4rem;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    text-decoration: none !important;
}
 .informateC:hover{
    background-color: #117585 !important;
 }