
:root{
    --colorPrincipal:#F76666;
    --colorSecundario:#02052F;
    --fuentePrincipal:'Open Sans', sans-serif;
    --fuenteBotones:"DinBold", sans-serif;
}

html{
    font-size:62.5%;

}
body{
    font-size: 16px;
    font-family: var(--fuentePrincipal);
}

/* ESTILOS GENERICOS */
    .contenedor{
        max-width: 83%;
        margin:0 auto;

    }

 /* ESTILOS MAIN */
.fondoMain{
    background-image: url(../img/11641893944_banner_zona_centro.png);
    background-size: cover;
    background-position: top left;
    padding: 80px 0 180px 0;
}
.margenDerecho{
    margin-right: 34%;
}
h1{
    background: rgba(248, 102, 102, 0.65);
    font-size: 4.5rem;
    font-family: var(--fuentePrincipal);
    font-weight: 800;
    margin-bottom: 10px;
    padding: 35px;
    color: #fff;
    
}

.fondoMain a{
    background-color: black;
    color: #fff;
    border: 2px solid #000;
    padding: 24px 94px;
    text-decoration: none;
    text-transform: uppercase;
    font-family: "DinBold", sans-serif;
    font-weight: 700;
    font-size: 1.4rem;
    
    
}
.flexMain{
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}

 /* ESTILOS CORPORACIONES */
.logos{
    background-color: #fff;
    border-radius: 20px;
    margin-top: -80px;
    padding-top: 20px;
    padding-bottom: 20px;
    border-radius:12px;
    display: flex;
    justify-content:space-evenly;
    align-items: center;
}


 /* CURSOS */
 .seccionCursos h3{
    text-align: center;
    color: var(--colorPrincipal);
    font-family: var(--fuentePrincipal);
    font-weight: 800;
    text-transform: uppercase;
    font-size: 1.7rem;
    margin: 40px 0px;
}

.seccionCursos>h2{
    margin-bottom: 72px;
    text-align: center;
    color: var(--colorSecundario);
    font-family: var(--fuentePrincipal);
    font-weight: 800;
    text-transform: uppercase;
    font-size: 2.7rem;

}

.botonesCursos{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 105px;
}

.botonVerTodo{
    background-color: var(--colorPrincipal);
    color: white;
    font-family: var(--fuentePrincipal);
    font-size: 1.4rem;
    padding: 12px 24px;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: 600;
    margin-right: 0.5rem;
    margin-left: 0.5rem;
    border: 1px solid var(--colorPrincipal);
}
.botonMadrid{
    background-color: white;
    color: var(--colorSecundario);
    font-family: var(--fuentePrincipal);
    font-size: 1.4rem;
    padding: 12px 24px;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: 600;
    margin-right: 0.5rem;
    margin-left: 0.5rem;
    border: 1px solid var(--colorPrincipal);
}

.cursosOfertados{
    margin-bottom: 120px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.cursosOfertados>div{

    max-width: 50%;
    flex: 2;
    padding: 40px 60px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 300px;
}

.marketing{
    background-image: url(../img/Curso-marketing-digital-centro.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: right;
    margin-right: 15px;
}

.videojuegos{
    background-image: url(../img/Curso-programacion-videojuegos-centro.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: right;
    margin-left: 15px;
}

.cursosOfertados h2{

    color: white;
    font-size: 2.7rem;
    text-transform: uppercase;
    font-weight: 700;
    margin-bottom: 22px;

}

.cursosOfertados a{
    color: var(--colorPrincipal);
    font-size: 1.4rem;
    background-color: white;
    border: 2px solid white;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 700;
    padding: 20px 60px;
    display: inline-block;
}

    

 /* PIDENOSLO */
 .pidenoslo{
    text-align: center;
    margin-bottom: 80px;
 }
.pidenoslo h3{
    font-size: 17px;
    margin-bottom: 22px;
    text-align: center;
    text-transform: uppercase;
    font-weight: 500;
    line-height: 1.2;
    font-family: var(--fuenteBotones);
    font-weight: 600;
    color:var(--colorSecundario);
}
.pidenoslo a{
    text-decoration: none;
    text-transform: uppercase;
    background-color: var(--colorPrincipal);
    font-weight: 700;
    float: none;
    padding: 20px 40px;
    border-radius: 96px;
    margin-top: 20px;
    display: inline-block;
    text-align: center;
    color: white;

}

 /* VIDEO */
 .video{
    padding-bottom: 70px;
 }
.video div{
display: flex;
justify-content: center;

}

 /* PARA QUIEN SON ESTOS CURSOS */

.paraquien{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
}
.paraquien div{
    border:2px solid black;
    max-width: 50%;
    flex:2;
    padding: 30px;
    flex-wrap: wrap;
}
.paraTexto{
padding-bottom: 20px;
}
.paraImagen{
background-color: #F76666;
display: flex;
justify-content: center;
}

.paraTexto{
    display: flex;
    max-width: 50%;
    
}

.paraTexto h3{
    color: var(--colorPrincipal);
    font-size: 17px;
    margin-bottom: 15px;
    font-weight: 800;
}
.paraTexto h2{
    color: var(--colorSecundario);
    font-size: 27px;
    margin-bottom: 15px;
    font-weight: 800;
    font-family: var(--fuenteBotones);
}
.paraTexto p{
    color: var(--colorSecundario);
    font-size: 15px;
    margin-bottom: 25px;
    font-weight: 400;
    font-family: var(--fuentePrincipal);
}
.paraTexto h4{
    color: var(--colorSecundario);
    font-size: 14px;
    font-weight: 800;
    font-family: var(--fuentePrincipal);
}
.ir{
    color: #F76666 ;
    font-size: 14px;
    font-weight: 700;
    margin-bottom: 50px;
    display: block;
    text-decoration: underline;
}
.boxMayor{
    display: flex;
    flex: row;
    justify-content: center;
}

 /* LOCALIZACIONES */
    .localizaciones{
        background-color: black;
    }

 /* CONTACTAR */



 /* FOOTER */


 /* HEADER */