
:root{
    --colorPrincipal:#F76666;
    --colorSecundario:#02052F;
    --fuentePrincipal:'Open Sans', sans-serif;
    --fuenteBotones:"DinBold", sans-serif;
}

html{
    font-size:62.5%;

}
body{
    font-size: 16px;
    font-family: var(--fuentePrincipal);


}



/* ESTILOS GENERICOS */
    
    @media (min-width:1140px) {
        .contenedor{
         max-width: 83%;
         margin:0 auto;
        }
     }
     @media (max-width:1140px) and (min-width:768px) {
        .contenedor{
         max-width: 76%;
         margin:0 auto;
        }
     }
     @media (max-width:768px) and (min-width:380px) {
        .contenedor{
         max-width: 90%;
         margin:0 auto;
        }
     }
 /* ESTILOS MAIN */
.fondoMain{
    background-image: url(../img/11641893944_banner_zona_centro.png);
    background-size: cover;
    background-position: top left;
    padding: 80px 0 180px 0;
}
.margenDerecho{
    margin-right: 34%;
}

 @media (max-width:1140px) {
    .margenDerecho{
        margin-right: 0;
    } 
} 
h1{
    background: rgba(248, 102, 102, 0.65);
    font-size: 4.5rem;
    font-family: var(--fuentePrincipal);
    font-weight: 800;
    margin-bottom: 10px;
    padding: 35px;
    color: #fff;
    
}

.fondoMain a{
    background-color: black;
    color: #fff;
    border: 2px solid #000;
    padding: 24px 94px;
    text-decoration: none;
    text-transform: uppercase;
    font-family: "DinBold", sans-serif;
    font-weight: 700;
    font-size: 1.4rem; 
}
@media (max-width:768px) {
    .fondoMain a{
        padding: 24px 70px;
    }
}
.flexMain{
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}
.flexMain img{
    margin-right: 10px;
}

 /* ESTILOS CORPORACIONES */
.logos{
    background-color: #fff;
    border-radius: 20px;
    margin-top: -80px;
    padding:30px;
    border-radius:12px;
    display: flex;
    justify-content:space-evenly;
    align-items: center;
}
@media (max-width:1140px) and (min-width:768px){
    .logoOficial{
        max-width: 70%;
        
    }
    .logoadeco{
        max-width: 30%;
    }
} 
@media (max-width:768px){
    
    .logos{
        width: 70%;
        flex-direction: column;
        justify-self: center;
        align-items: center;
       
    }
    .logos img{
        padding: 20px;
        max-width: 90%;
    }
}

 /* CURSOS */
 .seccionCursos h3{
    text-align: center;
    color: var(--colorPrincipal);
    font-family: var(--fuentePrincipal);
    font-weight: 800;
    text-transform: uppercase;
    font-size: 1.7rem;
    margin: 40px 0px;
}

.seccionCursos>h2{
    margin-bottom: 72px;
    text-align: center;
    color: var(--colorSecundario);
    font-family: var(--fuentePrincipal);
    font-weight: 800;
    text-transform: uppercase;
    font-size: 2.7rem;

}

.botonesCursos{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 105px;
}

.botonVerTodo{
    background-color: var(--colorPrincipal);
    color: white;
    font-family: var(--fuentePrincipal);
    font-size: 1.4rem;
    padding: 12px 24px;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: 600;
    margin-right: 0.5rem;
    margin-left: 0.5rem;
    border: 1px solid var(--colorPrincipal);
}
.botonMadrid{
    background-color: white;
    color: var(--colorSecundario);
    font-family: var(--fuentePrincipal);
    font-size: 1.4rem;
    padding: 12px 24px;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: 600;
    margin-right: 0.5rem;
    margin-left: 0.5rem;
    border: 1px solid var(--colorPrincipal);
}

.cursosOfertados{
    margin-bottom: 120px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.cursosOfertados>div{

    max-width: 50%;
    flex: 2;
    padding: 40px 60px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 300px;
}
@media (max-width:1140px) and (min-width:768px){
    .cursosOfertados>div{
        padding: 30px 30px;
        
    }
}
.marketing{
    background-image: url(../img/Curso-marketing-digital-centro.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: right;
    margin-right: 15px;
}

.videojuegos{
    background-image: url(../img/Curso-programacion-videojuegos-centro.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: right;
    margin-left: 15px;
}

.cursosOfertados h2{

    color: white;
    font-size: 2.7rem;
    text-transform: uppercase;
    font-weight: 700;
    margin-bottom: 22px;

}

.cursosOfertados a{
    color: var(--colorPrincipal);
    font-size: 1.4rem;
    background-color: white;
    border: 2px solid white;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 700;
    padding: 20px 60px;
    display: inline-block;
}
@media (max-width:768px){
    .cursosOfertados {
        flex-direction: column;
       
    }
    .cursosOfertados>div{
        margin: 15px 0;
        max-width: 100%;
    }
}
    

 /* PIDENOSLO */
 .pidenoslo{
    text-align: center;
    margin-bottom: 80px;
 }
.pidenoslo h3{
    font-size: 17px;
    margin-bottom: 22px;
    text-align: center;
    text-transform: uppercase;
    font-weight: 500;
    line-height: 1.2;
    font-family: var(--fuenteBotones);
    font-weight: 600;
    color:var(--colorSecundario);
}
.pidenoslo a{
    text-decoration: none;
    text-transform: uppercase;
    background-color: var(--colorPrincipal);
    font-weight: 700;
    float: none;
    padding: 20px 40px;
    border-radius: 96px;
    margin-top: 20px;
    display: inline-block;
    text-align: center;
    color: white;

}
.pidenoslo a:hover{
    background-color: var(--colorSecundario);
}

 /* VIDEO */
 .video{
    padding-bottom: 70px;
 }
.video div{
display: flex;
justify-content: center;

}
.video iframe{
    width:1120px;
    height:630px;
}
@media (max-width:768px) {
    .video iframe{
        width: 100%;
        height: 250px;   
    }
}
@media (max-width:1140px) and (min-width:768px) {
    .video iframe{
        width: 100%;
        height: 350px;   
    }
}

 /* PARA QUIEN SON ESTOS CURSOS */

.paraquien{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    color: var(--colorSecundario);
    font-size: 27px;
    margin-bottom: 15px;
    font-weight: 800;
    font-family: var(--fuenteBotones);
}
.paraquien>div{
    flex:1;
    max-width: 50%;
}
@media (max-width:1140px){
    .paraquien{
        flex-direction: column;
        margin-bottom: 120px;
    }
    .paraquien>div{
        flex:1;
        max-width: 100%;
    }
}

.paraTexto{
padding: 30px;
flex-wrap: wrap;
}

.paraImagen{   
margin-top: 12%;
display: flex;
flex-direction: column;
justify-content: flex-start;
}

.box16{
    width: auto;
    height: 60%;
    padding:20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding:40px;
    background-color: #F76666;
}
.boxForma{
    height: 40%;
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    align-items: center;
    color:white !important;
    height: 100px;
    margin-top: -5%;
}
.blanco {
    color: white;
}
.paraTexto{
    display: flex;
    max-width: 50%;
}
.boxForma>div{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}
.boxForma h5{
    padding:30px;
    width: 60%;
    background-color: #000;
    margin-right: 4%;
    padding-bottom: 6%;
}
.botonDificil{
    height: 40px;
    width: 45px;
    margin-top: 2.5%;
}

.paraTexto h3{
    color: var(--colorPrincipal);
    font-size: 17px;
    margin-bottom: 15px;
    font-weight: 800;
}
.paraTexto h2{
    color: var(--colorSecundario);
    font-size: 27px;
    margin-bottom: 15px;
    font-weight: 800;
    font-family: var(--fuenteBotones);
}
.paraTexto p{
    color: var(--colorSecundario);
    font-size: 15px;
    margin-bottom: 25px;
    font-weight: 400;
    font-family: var(--fuentePrincipal);
}
.paraTexto h4{
    color: var(--colorSecundario);
    font-size: 14px;
    font-weight: 800;
    font-family: var(--fuentePrincipal);
}
.ir{
    color: #F76666 ;
    font-size: 14px;
    font-weight: 700;
    margin-bottom: 50px;
    display: block;
    text-decoration: underline;
}








 /* LOCALIZACIONES */
    .localizaciones{
        background-color: black;
        padding: 80px;
    }
    .localizaciones h2{
        color: white;
        font-size: 27px;
        margin-bottom: 15px;
        font-weight: 700;
        font-family: var(--fuenteBotones);
    }
    .localizaciones h3{
        color: white;
        font-size: 17px;
        margin-bottom: 15px;
        font-weight: 600;
        font-family: var(--fuenteBotones);
    }
    .localizaciones p{
        color: white;
        font-size: 13px;
        margin-bottom: 15px;
        font-weight: 500;
        font-family: var(--fuenteBotones);
    }a
    .localizaciones div{
        padding-top: 30px;
    }
    .direcciones{
        display: grid;
        grid:1fr / 1fr 1fr 1fr 1fr;
    }
    .direcciones div{
        padding: 4%;
    }
    /* .direcciones{
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
    }
    .direcciones div{
        max-width: 25%;
        padding-right: 4%;
    }
    @media (max-width:1140px) and (min-width:480px){
        .direcciones div{
            max-width: 50%;
        }
    }
    @media (max-width:768px) {
        .direcciones{
            flex-wrap:wrap;
        }
        .direcciones div{
            max-width: 100%;
        }
    } */

 /* CONTACTAR */
.contactar{
    background-color: var(--colorPrincipal);
    padding: 60px;
}
.contactar h3{
    color: white;
    font-size: 17px;
    margin-bottom: 22px;
    font-weight: 300;
    font-family: var(--fuentePrincipal);
    text-transform: uppercase;
}
.contactar h2 {
    color: white;
    margin-bottom: 22px;
    text-transform: uppercase;
    font-weight: 800;
}
.telefonos{
    display:flex;
    flex-direction: row;

}

.llamanos{
    display: flex;
    background-color: white;
    margin-right: 15px;
    border-radius: 0.55rem;
    flex-direction: row;
    justify-content: flex-start;
    flex: 1;
    max-width: 50%;
    padding: 20px;
}
.correo{
    background-color: white;
    margin-left: 15px;
    border-radius: 0.55rem;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex: 1;
    max-width: 50%;
    padding: 20px;
}
@media (max-width:1140px)  {
    .telefonos{
        flex-wrap: wrap;
    }
    .llamanos, .correo{
        max-width: 100%;
        margin:10px 0px;

    }
    .telefonos img{
        height: 60px;
    }

}

.telefonos h3{
    color: var(--colorSecundario);
    font-size: 14px;
    margin-bottom: 15px;
    font-weight: 800;
    font-family: var(--fuenteBotones);
}
.datos{
    margin-left:15px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}
.datos a{
    text-decoration: none;
    color:var(--colorPrincipal);
    font-family: var(--fuenteBotones);
    font-weight: 600;
    font-size: 14px;
}

 /* FOOTER */
.pie{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.nosotros{
    margin-top: 4%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}
.nosotros  h3{ 
color:var(--colorSecundario);
font-size: 17px;
margin-bottom: 22px;
font-weight: 800;
font-family: var(--fuentePrincipal);
text-transform: uppercase;
}
.nosotros a{
    margin-left: 40px;
    color:var(--colorSecundario);
}

.privacidad{
    margin-top: 30px;
    padding: 20px;
    border-top: 1px solid var(--colorSecundario);
    border-bottom: 1px solid var(--colorSecundario);
}
.privacidad a{
    font-size: 14px;
    color:var(--colorSecundario);
    margin-right: 50px;
}

/* BOTON FLOTANTE */
.scrollToTop {
    width: 60px;
    height: 60px;
    text-align: center;
    background-position: center center;
    background-size: cover;
    position: fixed;
    bottom: 75px;
    right: 40px;
    display: none;
    background-image: url(../img/up-top.png)
}

 /* HEADER */
 
.seccionHeader {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 20px;
    margin-bottom: 20px;
}

.seccionEnlaces {
    max-width: 70%;
    display: flex;
    flex-direction: column;
}

.seccionLogin {

    display: flex;
    justify-content: flex-end;
}

.seccionLogin a {

    color: var(--colorPrincipal);
    font-family: var(--fuentePrincipal);
    margin-left: 7px;
    margin-top: 10px;
    margin-bottom: 10px;
    text-decoration: none;
    font-weight: 400;
    font-size: 1.7rem;
}

.seccionLogin a:hover {
    text-decoration: underline;
}


.seccionNav a {
    color: var(--colorSecundario);
    font-family: var(--fuentePrincipal);
    margin-left: 7px;
    margin-top: 10px;
    margin-bottom: 10px;
    text-decoration: none;
    font-weight: 700;
    font-size: 1.7rem;
    display: inline-block;
}

.seccionNav a:hover {
    text-decoration: underline;
}

.botonInformate {
    background-color: var(--colorPrincipal);
    padding: 0.6rem 1.5rem;
    border-radius: 4rem;
    color: white !important;
}

.botonInformate:hover {
    background-color: var(--colorSecundario);
    text-decoration: none !important;
}

.seccionImagen {
    width: 30%;
    margin-right: 200px;
    display: flex;
    flex-direction: column;
    justify-content: end;
}
@media (max-width:768px){
    .seccionHeader{
        flex-direction: column;
    }
    .seccionImagen,.seccionEnlaces{
        max-width: 100%;
        align-items: center;
        margin-right: 0;
    }
}
