
:root{
    --colorPrincipal:#F76666;
    --colorSecundario:#02052F;
    --fuentePrincipal:'Open Sans', sans-serif;
    --fuenteCta:"DinBold", sans-serif;
}

html{
    font-size:62.5%;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -ms-overflow-style: scrollbar;
    -webkit-tap-highlight-color: transparent;
}
body{
    font-size: 16px;
    font-family: var(--fuentePrincipal);
    font-weight: 400;
    color: #02052F;
    margin: 0;
    font-size: 1rem;
    line-height: 1.5;
    text-align: left;
    background-color: #fff;
    /* background-color: var(--colorPrincipal); */
}
.zona-centro h1 {
    background: rgba(248, 102, 102, 0.65);
    margin-bottom: 10px;
    display: block;
    font-weight: 800;
    padding: 35px;
    color: #fff;
}
.zona-centro .cta {
    color: #fff;
    border: 2px solid #000;
    background: #000 url(/assets/img/zona-centro/ico-flecha-derecha-white.png) no-repeat right 20px center;
    border-radius: 0px;
    float: right;
}
.cta {
    font-family: var(--fuenteCta);
    min-height: 50px;
    font-weight: 700;
    font-size: 14px;
    padding: 24px 94px;
    text-decoration: none;
    display: inline-block;
}
a {
    color: #007bff;
    text-decoration: none;
    background-color: transparent;
    -webkit-text-decoration-skip: objects;
}
header{
    background-color: #fff;
    padding-top: 15px;
    padding-bottom: 10px;
}
main{
    background-image: url(/proyecto_inicio/img/11641893944_banner_zona_centro.png);
    background-position: top left;
    background-size: cover;
    padding-top: 80px;
    padding-bottom: 180px;
}
article, aside, dialog, figcaption, figure, footer, header, hgroup, main, nav, section {
    display: block;
}
.mb70 {
    margin-bottom: 70px !important;
}
.pb60 {
    padding-bottom: 60px !important;
}
.bg-white {
    background-color: #fff !important;
}
.pt70 {
    padding-top: 70px !important;
}
.pb100, .pb101 {
    padding-bottom: 100px !important;
}
.zona-centro .inscripciones {
    background: #000;
}
.pb100 {
    padding-bottom: 100px !important;
}
.inscripciones {
    background: #000;
    padding: 90px 0;
}
.bg-info {
    background-color: #F76666 !important;
}

.pb70 {
    padding-bottom: 70px !important;
}
.img-fluid {
    max-width: 100%;
    height: auto;
}
img {
    vertical-align: middle;
    border-style: none;
}
.zonas h3 {
    font-size: 17px;
    margin-bottom: 22px;
}
.pidelo-centro {
    background: #F76666;
}
.pidelo-btn {
    color: #fff;
    font-weight: 700;
    float: none;
    padding: 20px 40px;
    border-radius: 96px;
    margin-top: 20px;
    display: inline-block;
}
iframe {
    overflow-clip-margin: content-box !important;
    overflow: clip !important;
}
.embed-responsive .embed-responsive-item, .embed-responsive iframe, .embed-responsive embed, .embed-responsive object, .embed-responsive video {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;
}
.text-uppercase {
    text-transform: uppercase !important;
}
footer h3 {
    font-size: 14px;
    font-weight: 800;
    margin-bottom: 20px;
}
.mr-50 {
    margin-right: 50px;
}
footer a {
    color: #02052F;
}
.zonas h2 {
    font-size: 27px;
    margin-bottom: 22px;
}
.zonas h4 {
    font-size: 15px;
    margin-bottom: 22px;
    line-height: 1.8;
}
.zona-centro .arrow {
    color: #F76666;
    font-size: 14px;
    font-weight: 700;
    margin-bottom: 50px;
    display: block;
    text-decoration: underline;
}
.inscripciones h2 {
    color: #fff;
    font-weight: 700;
    margin-bottom: 50px;
}
.zonas h2 {
    font-size: 27px;
    margin-bottom: 22px;
}
.text-white {
    color: #fff !important;
}
.font-weight-bold {
    font-weight: 700 !important;
}
.text-uppercase {
    text-transform: uppercase !important;
}
.mb-0, .my-0 {
    margin-bottom: 0 !important;
}
.zonas p {
    font-size: 14px;
    margin-bottom: 12px;
}

h3 {
    display: block;
    font-size: 1.17em;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}
.inscripciones h2 {
    color: #fff;
    font-weight: 700;
    margin-bottom: 50px;
}
.zonas h2 {
    font-size: 27px;
    margin-bottom: 22px;
}
.card-info-dynamic .icon {
    position: absolute;
    top: 50%;
    margin-top: -30px;
    left: 40px;
}
.colabor img {
    max-height: 60px;
}
.zona-centro .c-zona {
    color: #F76666;
}
footer h3 {
    font-size: 14px;
    font-weight: 800;
    margin-bottom: 20px;
}
#primary-menu-footer a {
    font-size: 14px;
    color: #02052F;
    text-decoration: underline;
    display: inline-block;
    margin-bottom: 10px;
}
.scrollToTop {
    width: 60px;
    height: 60px;
    text-align: center;
    background-position: center center;
    background-size: cover;
    position: fixed;
    bottom: 75px;
    right: 40px;
    display: none;
    background-image: url(/proyecto_inicio/img/up-top.png);
}