
:root{
    --colorPrincipal:#F76666;
    --colorSecundario:#02052F;
    --fuentePrincipal:'Open Sans', sans-serif;
    --fuenteBotones:"DinBold", sans-serif;
}

html{
    font-size:62.5%;

}
body{
    font-size: 16px;
    font-family: var(--fuentePrincipal);
}

/* ESTILOS GENERICOS */
    .contenedor{
        max-width: 83%;
        margin:0 auto;

    }

 /* ESTILOS MAIN */
.fondoMain{
    background-image: url(../img/11641893944_banner_zona_centro.png);
    background-size: cover;
    background-position: top left;
    padding: 80px 0 180px 0;
}
.margenDerecho{
    margin-right: 34%;
}
h1{
    background: rgba(248, 102, 102, 0.65);
    font-size: 4.5rem;
    font-family: var(--fuentePrincipal);
    font-weight: 800;
    margin-bottom: 10px;
    padding: 35px;
    color: #fff;
    
}

.fondoMain a{
    background-color: black;
    color: #fff;
    border: 2px solid #000;
    padding: 24px 94px;
    text-decoration: none;
    text-transform: uppercase;
    font-family: "DinBold", sans-serif;
    font-weight: 700;
    font-size: 1.4rem;
    
    
}
.flexMain{
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}

 /* ESTILOS CORPORACIONES */
.logos{
    background-color: #fff;
    border-radius: 20px;
    margin-top: -80px;
    padding-top: 20px;
    padding-bottom: 20px;
    border-radius:12px;
    display: flex;
    justify-content:space-evenly;
    align-items: center;
}


 /* CURSOS */
.previa{
    padding-bottom: 50px;
}
.previa>h3{
    color:var(--colorPrincipal);
    font-size: 1.7rem;
    margin:40px 0px;
    padding-bottom: 10px;
    text-align: center;
    font-weight: 800;
    font-family: var(--fuentePrincipal);
    text-transform: uppercase;
}
 
.previa>h2{
    font-size: 27px;
    margin-bottom: 22px;
    text-align: center;
}
.enlacesPrevia{
    padding-top:20px;
    padding-bottom: 20px;
    display: flex;
    justify-content: center;
    
}
.enlace1{
    width: auto;
    height: auto;
    color:white;
    text-decoration: none;
    background-color: var(--colorPrincipal);
    padding:10px 20px 10px 20px;
    border: 1px solid var(--colorPrincipal);
    font-family: var(--fuenteBotones);
    text-transform: uppercase;
    font-weight: 600;
}
.enlace2{
    width: auto;
    height: auto;
    color:black;
    text-decoration: none;
    background-color: white;
    padding:10px 20px 10px 20px;
    border: 1px solid var(--colorPrincipal);
    margin-left: 10px;
    font-family: var(--fuenteBotones);
    text-transform: uppercase;
    font-weight:600;
}
.cursos{
    display: flex;
    justify-content:space-between;
}
.marketing{
    background-image: url(../img/Curso-marketing-digital-centro.png);
    min-height: 300px;
    background-position: right !important;
    margin-bottom: 30px;
    padding: 40px 60px;
    position: relative;
}
.programacion{
    background-image: url(../img/Curso-programacion-web-full-stack-centro.png);
    min-height: 300px;
    background-position: right !important;
    margin-bottom: 30px;
    padding: 40px 60px;
    position: relative;
}

 /* PIDENOSLO */



 /* VIDEO */


 /* PARA QUIEN SON ESTOS CURSOS */




 /* LOCALIZACIONES */
    .localizaciones{
        background-color: black;
    }

 /* CONTACTAR */



 /* FOOTER */


 /* HEADER */