html{
    font-size:62.5%;
}
body{
    font-size: 16px;
}
/* ESTO PERMITE AJUSTA 10PX=1REM */



h1{
    color:red;
    /* Propiedad : valor;*/
    background-color: yellow;
    text-align: center;
    text-transform: uppercase;
    padding-top:30px;
    padding-bottom:100px; 
    margin-top:200px;
    margin-bottom: 200px;
    border:30px solid black;
    font-size:2rem;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    max-width: 60%;
}
body{
    background-color: green;
}
.h5azul{
    color:white;
    background-color: blue;
}
#projo{
    color:wheat;
    background-color: red;
}
.seccionPrueba h3{
    background-color: aqua;
}