body{
    height: 1000vh;
}
.seccionPrincipal{
    /* background-image: url(./ico-centro.png); */
}
.seccionPrincipal h1{
    color:white;
}

.zonas >div{
    background-color: rgb(223, 222, 222);
    border-radius:8px;
    margin-bottom: 100px;
    width: 40rem;
    
    color:rgb(2, 2, 82);
}
.zonas >div p{
padding:20px;
}
.zonas >div >div{
    display:grid;
    grid-template-columns: 1fr 1fr;
    width: 100%;
    height: 60px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    
    
}
.zonas >div >div .enl1{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: rgb(0, 255, 200);
    color:white;
    font-weight: 600;
    
}
.zonas >div >div .enl2{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: rgb(0, 4, 255);
    color:white;
    font-weight: 600;
    
}
