:root{
    --fuenteNav:'Darker Grotesque', sans-serif;
    --fuenteMain:'Over the Rainbow', cursive;
}
html{
    font-size:62.5%;

}
body{
    font-size: 16px;
    font-family: var(--fuentePrincipal);
    margin: 0;
    
}

.contenedor{
    width:80%;
    margin: 0 auto;
}

/* HEADER */
.nav{
    background-color: #000000; 
   
}
.all-header{
    display: grid;
    grid: 1fr / 35% 65%;

}
.logo-header{
   display: flex;
   justify-content: center;
   align-items: center;
   
}
.logo-header img{
    height: 60px;
}
.menu-header{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin-right: 180px;
    align-items: center;
    font-family: var(--fuenteNav);
    letter-spacing: 4px;
    font-weight: 600;
}
.menu-header a{
    color:rgb(255, 255, 255);
    font-size: 21px;
    text-decoration: none;
    background-image: linear-gradient(currentColor, currentColor);
    background-position: 0% 100%;
    background-repeat: no-repeat;
    background-size: 0% 2px;
    transition: background-size .3s;
    margin-right: 60px;
}
.menu-header a:focus, a:hover{
    background-size: 100% 2px;
}
.logo-header h1{
    color:rgb(255, 255, 255);
    font-family: var(--fuenteNav);
    font-size: 35px;
    letter-spacing: 1px;
    /* text-shadow:
    0.1rem 0.1rem 0 rgb(255, 213, 0),
    -0.1rem 0.1rem 0 rgb(255, 213, 0),
    -0.1rem -0.1rem 0 rgb(255, 213, 0),
    0.1rem -0.1rem 0 rgb(255, 213, 0); */
   
}

/* SECCION MAIN */

.main{

    background-image: url(../img/hamburguesa-carniceriaespinosa-1.jpg);
    background-position: center;
    background-repeat: no-repeat;
    height: 90rem;

}
.mainCa{
background-color: rgba(0, 0, 0, 0.462);
height: 90rem;
}

.boxesWelcome{
    padding-top: 10px;
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 40% 60%; 
}

/* TEXTO */
.boxWelcomeText{
   padding:10px;
}
.boxWelcomeText h2{
    color: rgb(255, 255, 255);
    font-family: var(--fuenteNav);
    font-weight: 800;
    text-align: center;
    font-size: 30px;
}
.boxWelcomeText p{
    color: rgb(255, 255, 255);
    font-family: var(--fuenteNav);
    font-weight: 500;
    letter-spacing: 1px;
    font-size:19px;
    
}
.text-main{
    padding:20px;
}

/*IMAGENES MAIN*/

.imgWelcome{
  padding:10px;
  display: flex;
  justify-content: center;
  align-items: center;

}
.imgWelcome1{
    height: 300px;
    width: 300px;
    border:4px solid #ffffff;
    border-radius: 50%;
    background-image: url(../img/hamburguesa_600.jpg);
    background-position: left;
  }
  
/*BOTON*/
.button-welcome{
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 50px;
   
}
.button-cta-welcome{
    padding:15px;
    width: 100%;
    background-color: rgb(255, 255, 255);
    border-radius: 8px;
    
}
.button-cta-welcome a{
    text-decoration: none;
    text-align: center;
    color:rgb(0, 0, 0);
    font-family: var(--fuenteNav);
    font-weight: 800;
    font-size: 20px;
    letter-spacing: 1px;
}
@media (max-width:768px){
    .main{

        background-image: url(../img/hamburguesa-carniceriaespinosa-1.jpg);
        background-position: center;
        background-repeat: no-repeat;
        height: 80vh;
    
    }
    .mainCa{
    background-color: rgba(0, 0, 0, 0.462);
    height: 80vh;
    }
    .disolve{
        display:none;
    }
    .boxesWelcome{
        
        display: grid;
        grid-template-rows: 0.3fr 0.7fr;
        grid-template-columns: 1fr; 
    }
    .imgWelcome{
        padding:10px;
        display: flex;
        justify-content: center;
        align-items: flex-start;
      
      }
      .imgWelcome1{
          height: 150px;
          width: 150px;
          border:4px solid #ffffff;
          border-radius: 50%;
          background-image: url(../img/hamburguesa_600.jpg);
          background-position: center;
        }

        .boxWelcomeText h2{
            color: rgb(255, 255, 255);
            font-family: var(--fuenteNav);
            font-weight: 800;
            text-align: center;
            font-size: 30px;
        }
        .boxWelcomeText p{
            color: rgb(255, 255, 255);
            font-family: var(--fuenteNav);
            font-weight: 500;
            letter-spacing: 1px;
            font-size:19px;
            
        }
        .text-main{
            padding:0px;
        }
        .button-welcome{
            margin-top: 20px;
           
        }
}
/*******SECCION DEBAJO MAIN*******/
.products{
    /* background-color: #6f1e1e;  */
    background-color: white;
    height: 55vh;
    /* border-top:1px solid rgb(255, 255, 255); */
}
.parts{
    width: 100% !important;
    height: 55vh;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 80px 300px;
    
    
}
.textProducts h2{
    color: rgb(0, 0, 0);
    font-family: var(--fuenteMain);
    font-weight: 800;
    text-align: center;
    font-size: 32px;
    text-decoration: underline;
    
}

.imageProducts{
    padding:40px;
}

/* SECCION LOCALIZACION */
 .location{
    height: 30%;
    display: grid;
    grid-template-columns: 0.6fr 0.4fr;
    grid-template-rows: 1fr;
    background-color: #121212;
 }

 .location-info{
    padding:20px;
    /* background-color: #121212; */
    

 }
 .location-info-data{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 0.8fr 0.2fr;
    border-right: 2px solid #a5a5a5;
 }
 .data{
   
    padding: 10px;
    color:#fff;
    font-family: var(--fuenteNav);
    font-size: 22px;
    font-weight: 500;
    display: flex;
    flex-direction: row;
    justify-content: center;
 }
 .rss{
    margin-top: 50px;
    padding: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    justify-content: center;

 }
 .rss a{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
 }
.rss img{
    
    width:50px;
    height: 50px;
}
 .location-info h2{
    color:white;
    font-family: var(--fuenteNav);
    font-size: 40px;
    font-weight: 800;
    text-align: center;
 }
 .location-map{
    padding:20px;
    margin-top: 105px;
 }
 .ubi{
 
    padding:20px;
 }
 .politicas{
    padding: 50px;
    height: 150px;
    background-color: #8e2727;
    display: grid;
    grid-template-columns: 1fr ;
    grid-template-rows: 1fr;
 }
 .privacidad{
    margin-left: 100px;
    display: flex;
    justify-content: center;
    
 }
 .privacidad a{
    color:rgb(255, 255, 255);
    font-family: var(--fuenteNav);
    font-weight: 500;
    font-size: 26px;
    text-decoration: none;
    margin-right: 40px;
    background-image: linear-gradient(currentColor, currentColor);
    background-position: 0% 100%;
    background-repeat: no-repeat;
    background-size: 0% 2px;
    transition: background-size .3s;
    margin-right: 60px;
    
}
.privacidad a:focus, a:hover{
    background-size: 100% 2px;
}


/* SECCION 3 FOTOS MENU */
.menu{
    height: 50vh;
}
.content-menu{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
}

.content-menu div{
    border-right:1px solid black;
    height: 50vh;
}
@media (max-width:768px) {
    .content-menu{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr;
    }
    .content-menu div{
        border:1px solid black;
        height: 36vh;
    }
}
.menu1{
    background-image: url(../img/mesas_menu.jpg);
    background-position: center;
}
.menu2{
    background-image: url(../img/bolsa_menu.png);
    background-position: center;
}
.menu3{
    background-image: url(../img/hamburguesa-menu.png);
    background-position: center;
}