:root{
    --fuenteNav:'Darker Grotesque', sans-serif;
    --fuenteMain:'Over the Rainbow', cursive;
}
html{
    font-size:62.5%;

}
body{
    font-size: 16px;
    font-family: var(--fuentePrincipal);
    margin: 0;
    
}

.contenedor{
    width:80%;
    margin: 0 auto;
}

/* HEADER */
.nav{
    background-color: rgb(0, 0, 0); 
    border-bottom: 4px solid black;
}
.all-header{
    display: grid;
    grid: 1fr / 35% 65%;

}
.logo-header{
   display: flex;
   justify-content: center;
   align-items: center;
   
}
.logo-header img{
    height: 60px;
}
.menu-header{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin-right: 180px;
    align-items: center;
    font-family: var(--fuenteNav);
    letter-spacing: 4px;
    font-weight: 600;
}
.menu-header a{
    color:rgb(255, 255, 255);
    font-size: 21px;
    text-decoration: none;
    background-image: linear-gradient(currentColor, currentColor);
    background-position: 0% 100%;
    background-repeat: no-repeat;
    background-size: 0% 2px;
    transition: background-size .3s;
    margin-right: 60px;
}
.menu-header a:focus, a:hover{
    background-size: 100% 2px;
}
.logo-header h1{
    color:rgb(255, 255, 255);
    font-family: var(--fuenteNav);
    font-size: 35px;
    letter-spacing: 1px;
    /* text-shadow:
    0.1rem 0.1rem 0 rgb(255, 213, 0),
    -0.1rem 0.1rem 0 rgb(255, 213, 0),
    -0.1rem -0.1rem 0 rgb(255, 213, 0),
    0.1rem -0.1rem 0 rgb(255, 213, 0); */
   
}

/* SECCION MAIN */

.main{
    border-top:1px solid white;
    background-color: rgba(184, 157, 3, 0.836);
    background-repeat: no-repeat;
}
.boxesWelcome{
    padding-top: 50px;
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 40% 60%;
    
}

.boxWelcomeText{
   padding:10px;

}
.boxWelcomeText h2{
    color: rgb(0, 0, 0);
    font-family: var(--fuenteMain);
    font-weight: 800;
    text-decoration: underline;
    text-align: center;
    font-size: 35px;
    
}
.boxWelcomeText p{
    color: rgb(0, 0, 0);
    font-family: var(--fuenteNav);
    font-weight: 600;
    letter-spacing: 1px;
    font-size:19px;
    
}
.text-main{
    padding:20px;
}

/*IMAGENES MAIN*/

.imgWelcome{
  padding:10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.imgWelcome1{
    height: 350px;
    width: 350px;
    border:8px solid white;
    border-radius: 50%;
    background-image: url(../img/tequeños.jpg);
    background-position: center;
  }
  
/*BOTON*/
.button-welcome{
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 50px;

}
.button-cta-welcome{
    padding:15px;
    width: 40%;
    background-color: black;
    border-radius: 8px;
    
}
.button-cta-welcome a{
    text-decoration: none;
    text-align: center;
    color:rgb(255, 255, 255);
    font-family: var(--fuenteNav);
    font-weight: 800;
    font-size: 20px;
    letter-spacing: 1px;
}



/* SECCION COCTELES */
.cocktails{
    border-top:1px solid white;
    background-color: rgb(0, 0, 0);
    background-repeat: no-repeat;
}
.cocktailsGeneral{
    padding-top: 50px;
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 60% 40%;
    
}

.cocktailsText{
   padding:10px;

}
.cocktailsText h2{
    color: rgb(255, 255, 255);
    font-family: var(--fuenteMain);
    font-weight: 800;
    text-decoration: underline;
    text-align: center;
    font-size: 35px;
    
}
.cocktailsText p{
    color: rgb(255, 255, 255);
    font-family: var(--fuenteNav);
    font-weight: 600;
    letter-spacing: 1px;
    font-size:19px;
    
}
.text-cocktails{
    padding:20px;
}

/*IMAGENES MAIN*/

.imgCocktails{
  padding:10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.imgCocktails1{
    height: 350px;
    width: 350px;
    border:8px solid white;
    border-radius: 50%;
    background-image: url(../img/mojitos.jpg);
    background-position: center;
  }
  
/*BOTON DE LOCALES*/
.button-welcome{
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 50px;
}
.button-cta-welcome{
    padding:15px;
    width: 40%;
    background-color: rgb(255, 255, 255);

}
.button-cta-welcome a{
    text-decoration: none;
    text-align: center;
    color:rgb(0, 0, 0);
    font-family: var(--fuenteNav);
    font-weight: 800;
    font-size: 20px;
    letter-spacing: 1px;
}
