:root{
    --fuenteNav:'Darker Grotesque', sans-serif;
    --fuenteMain:'Over the Rainbow', cursive;
}
html{
    font-size:62.5%;

}
body{
    font-size: 16px;
    font-family: var(--fuentePrincipal);
    margin: 0;
    
}

.contenedor{
    width:80%;
    margin: 0 auto;
}

/* HEADER */
.nav{
    background-color: #000000; 
   
}
.all-header{
    display: grid;
    grid: 1fr / 35% 65%;

}
.logo-header{
   display: flex;
   justify-content: center;
   align-items: center;
   
}
.logo-header img{
    height: 60px;
}
.menu-header{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin-right: 180px;
    align-items: center;
    font-family: var(--fuenteNav);
    letter-spacing: 4px;
    font-weight: 600;
}
.menu-header a{
    color:rgb(255, 255, 255);
    font-size: 21px;
    text-decoration: none;
    background-image: linear-gradient(currentColor, currentColor);
    background-position: 0% 100%;
    background-repeat: no-repeat;
    background-size: 0% 2px;
    transition: background-size .3s;
    margin-right: 60px;
}
.menu-header a:focus, a:hover{
    background-size: 100% 2px;
}
.logo-header h1{
    color:rgb(255, 255, 255);
    font-family: var(--fuenteNav);
    font-size: 35px;
    letter-spacing: 1px;
    /* text-shadow:
    0.1rem 0.1rem 0 rgb(255, 213, 0),
    -0.1rem 0.1rem 0 rgb(255, 213, 0),
    -0.1rem -0.1rem 0 rgb(255, 213, 0),
    0.1rem -0.1rem 0 rgb(255, 213, 0); */
   
}

/* SECCION MAIN */

.main{
    /* border-top:1px solid white; */
    /* background-color: #f8b218;
    background-repeat: no-repeat; */
    background-image: url(../img/hamburguesa-carniceriaespinosa-1.jpg);
    background-position: center;
    background-repeat: no-repeat;
    height: 50vh;

}
.mainCa{
background-color: rgba(0, 0, 0, 0.462);
height: 50vh;
}

.boxesWelcome{
    padding-top: 10px;
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 40% 60%;
    
}

.boxWelcomeText{
   padding:10px;

}
.boxWelcomeText h2{
    color: rgb(255, 255, 255);
    font-family: var(--fuenteNav);
    font-weight: 800;
    
    text-align: center;
    font-size: 30px;
    
}
.boxWelcomeText p{
    color: rgb(255, 255, 255);
    font-family: var(--fuenteNav);
    font-weight: 500;
    letter-spacing: 1px;
    font-size:19px;
    
}
.text-main{
    padding:20px;
}

/*IMAGENES MAIN*/

.imgWelcome{
  padding:10px;
  display: flex;
  justify-content: center;
  align-items: center;

}
.imgWelcome1{
    height: 300px;
    width: 300px;
    border:4px solid #ffffff;
    border-radius: 50%;
    background-image: url(../img/hamburguesa_600.jpg);
    background-position: left;
  }
  
/*BOTON*/
.button-welcome{
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 50px;
    /* width: 30%; */
}
.button-cta-welcome{
    padding:15px;
    width: 100%;
    background-color: rgb(255, 255, 255);
    border-radius: 8px;
    
}
.button-cta-welcome a{
    text-decoration: none;
    text-align: center;
    color:rgb(0, 0, 0);
    font-family: var(--fuenteNav);
    font-weight: 800;
    font-size: 20px;
    letter-spacing: 1px;
}

/*******SECCION DEBAJO MAIN*******/
.products{
    /* background-color: #6f1e1e;  */
    background-color: white;
    height: 55vh;
    /* border-top:1px solid rgb(255, 255, 255); */
}
.parts{
    width: 100% !important;
    height: 55vh;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 80px 300px;
    
    
}


.textProducts h2{
    color: rgb(0, 0, 0);
    font-family: var(--fuenteMain);
    font-weight: 800;
    text-align: center;
    font-size: 32px;
    text-decoration: underline;
    
}

.imageProducts{
    padding:40px;
}
 /* SLIDER */
@import url("https://fonts.googleapis.com/css?family=DM+Sans:400,500,700&display=swap");
 * {
	 box-sizing: border-box;
}
 .app {
	 display: flex;
	 align-items: center;
	 justify-content: center;
	 padding: 10px;
	 font-family: 'DM Sans', sans-serif;
	 transition: background 0.4s ease-in;
     border-radius: 7px;
     
}
 .app.blue {
	 background-color: #428aa6;
}
 input[type=radio] {
	 display: none;
}
 .card {
	 position: absolute;
	 width: 60%;
	 height: 100%;
	 left: 0;
	 right: 0;
	 margin: auto;
	 transition: transform 0.4s ease;
	 cursor: pointer;
}
 .container {
	 width: 100%;
	 max-width: 800px;
	 max-height: 600px;
	 height: 100%;
	 transform-style: preserve-3d;
	 display: flex;
	 justify-content: center;
	 flex-direction: column;
	 align-items: center;
}
 .cards {
	 position: relative;
	 width: 100%;
	 height: 100%;
	 margin-bottom: 20px;
     height: 300px;
}
 img {
	 width: 100%;
	 height: 100%;
	 border-radius: 10px;
	 object-fit: cover;
}
 #item-1:checked ~ .cards #song-3, #item-2:checked ~ .cards #song-1, #item-3:checked ~ .cards #song-2 {
	 transform: translatex(-40%) scale(0.8);
	 opacity: 0.4;
	 z-index: 0;
}
 #item-1:checked ~ .cards #song-2, #item-2:checked ~ .cards #song-3, #item-3:checked ~ .cards #song-1 {
	 transform: translatex(40%) scale(0.8);
	 opacity: 0.4;
	 z-index: 0;
}
 #item-1:checked ~ .cards #song-1, #item-2:checked ~ .cards #song-2, #item-3:checked ~ .cards #song-3 {
	 transform: translatex(0) scale(1);
	 opacity: 1;
	 z-index: 1;
}
 #item-1:checked ~ .cards #song-1 img, #item-2:checked ~ .cards #song-2 img, #item-3:checked ~ .cards #song-3 img {
	 box-shadow: 0px 0px 5px 0px rgba(81, 81, 81, 0.47);
}
 .player {
	 background-color: #fff;
	 border-radius: 8px;
	 min-width: 320px;
	 padding: 16px 10px;
}
 .upper-part {
	 position: relative;
	 display: flex;
	 align-items: center;
	 margin-bottom: 12px;
	 height: 36px;
	 overflow: hidden;
}
 .play-icon {
	 margin-right: 10px;
}
 .song-info {
	 width: calc(100% - 32px);
	 display: block;
}
 .song-info .title {
	 color: #403d40;
	 font-size: 14px;
	 line-height: 24px;
}
 .sub-line {
	 display: flex;
	 justify-content: space-between;
	 width: 100%;
}
 .subtitle, .time {
	 font-size: 12px;
	 line-height: 16px;
	 color: #c6c5c6;
}
 .time {
	 font-size: 12px;
	 line-height: 16px;
	 color: #a5a5a5;
	 font-weight: 500;
	 margin-left: auto;
}
 .progress-bar {
	 height: 3px;
	 width: 100%;
	 background-color: #e9efff;
	 border-radius: 2px;
	 overflow: hidden;
}
 .progress {
	 display: block;
	 position: relative;
	 width: 60%;
	 height: 100%;
	 background-color: #2992dc;
	 border-radius: 6px;
}
 .info-area {
	 width: 100%;
	 position: absolute;
	 top: 0;
	 left: 30px;
	 transition: transform 0.4s ease-in;
}
 #item-2:checked ~ .player #test {
	 transform: translateY(0);
}
 #item-2:checked ~ .player #test {
	 transform: translateY(-40px);
}
 #item-3:checked ~ .player #test {
	 transform: translateY(-80px);
}

/* SECCION LOCALIZACION */
 .location{
    height: 30%;
    display: grid;
    grid-template-columns: 0.6fr 0.4fr;
    grid-template-rows: 1fr;
    background-color: #121212;
 }

 .location-info{
    padding:20px;
    /* background-color: #121212; */
    

 }
 .location-info-data{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 0.8fr 0.2fr;
    border-right: 2px solid #a5a5a5;
 }
 .data{
   
    padding: 10px;
    color:#fff;
    font-family: var(--fuenteNav);
    font-size: 22px;
    font-weight: 500;
    display: flex;
    flex-direction: row;
    justify-content: center;
 }
 .rss{
    margin-top: 50px;
    padding: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    justify-content: center;

 }
 .rss a{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
 }
.rss img{
    
    width:50px;
    height: 50px;
}
 .location-info h2{
    color:white;
    font-family: var(--fuenteNav);
    font-size: 40px;
    font-weight: 800;
    text-align: center;
 }
 .location-map{
    padding:20px;
    margin-top: 105px;
 }
 .ubi{
 
    padding:20px;
 }
 .politicas{
    padding: 50px;
    height: 150px;
    background-color: #8e2727;
    display: grid;
    grid-template-columns: 1fr ;
    grid-template-rows: 1fr;
 }
 .privacidad{
    margin-left: 100px;
    display: flex;
    justify-content: center;
    
 }
 .privacidad a{
    color:rgb(255, 255, 255);
    font-family: var(--fuenteNav);
    font-weight: 500;
    font-size: 26px;
    text-decoration: none;
    margin-right: 40px;
    background-image: linear-gradient(currentColor, currentColor);
    background-position: 0% 100%;
    background-repeat: no-repeat;
    background-size: 0% 2px;
    transition: background-size .3s;
    margin-right: 60px;
    
}
.privacidad a:focus, a:hover{
    background-size: 100% 2px;
}


/* SECCION 3 FOTOS MENU */
.menu{
    height: 50vh;
}
.content-menu{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
}

.content-menu div{
    border-right:1px solid black;
    height: 50vh;
}
@media (max-width:768px) {
    .content-menu{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr;
    }
    .content-menu div{
        border:1px solid black;
        height: 36vh;
    }
}
.menu1{
    background-image: url(../img/mesas_menu.jpg);
    background-position: center;
}
.menu2{
    background-image: url(../img/bolsa_menu.png);
    background-position: center;
}
.menu3{
    background-image: url(../img/hamburguesa-menu.png);
    background-position: center;
}