:root{
    --fuenteNav:'Darker Grotesque', sans-serif;
    --fuenteMain:'Over the Rainbow', cursive;
}
html{
    font-size:62.5%;

}
body{
    font-size: 16px;
    font-family: var(--fuentePrincipal);
    margin: 0;
    
}

.contenedor{
    width:80%;
    margin: 0 auto;
}

/* HEADER */
.nav{
    background-color: rgb(255, 255, 255); 
    border-bottom: 4px solid black;
}
.all-header{
    display: grid;
    grid: 1fr / 35% 65%;

}
.logo-header{
   display: flex;
   justify-content: center;
   align-items: center;
   
}
.logo-header img{
    height: 60px;
}
.menu-header{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    font-family: var(--fuenteNav);
    letter-spacing: 4px;
    font-weight: 600;
}
.menu-header a{
    color:rgb(3, 3, 3);
    font-size: 21px;
    text-decoration: none;
    background-image: linear-gradient(currentColor, currentColor);
    background-position: 0% 100%;
    background-repeat: no-repeat;
    background-size: 0% 2px;
    transition: background-size .3s;
    margin-right: 60px;
}
.menu-header a:focus, a:hover{
    background-size: 100% 2px;
}
.logo-header h1{
    color:rgb(0, 0, 0);
    font-family: var(--fuenteNav);
    font-size: 35px;
    letter-spacing: 1px;
    /* text-shadow:
    0.1rem 0.1rem 0 rgb(255, 213, 0),
    -0.1rem 0.1rem 0 rgb(255, 213, 0),
    -0.1rem -0.1rem 0 rgb(255, 213, 0),
    0.1rem -0.1rem 0 rgb(255, 213, 0); */
   
}

/* SECCION MAIN */

.main{
    height: 100vh;
     background-image: url(../img/1906.i123.003.tropical\ leaves\ palm\ branch\ realistic\ transparent\ frame.jpg);
     background-color: rgba(254, 254, 254, 0.546);
    background-repeat: no-repeat;
}
.boxesWelcome{
    padding-top: 50px;
    height: 80vh;
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr;
}

.boxWelcomeText h2{
    color: rgb(0, 0, 0);
    font-family: var(--fuenteMain);
    font-weight: 800;
    text-decoration: underline;
    
}
.boxWelcomeText p{
    color: rgb(0, 0, 0);
    font-family: var(--fuenteNav);
    font-weight: 600;
    letter-spacing: 1px;
    font-size:19px;
}
.boxWelcomeImage{
    background-image: url(../img/tequeños.jpg);
    background-repeat: no-repeat;
    margin-left: 90px;
    margin-top: 27px;
    height: 60vh;

}
.button-welcome{
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
   
}
.button-cta-welcome{
    padding:7px;
    border:2px solid black;
    width: 30%;
}
.button-cta-welcome a{
    text-decoration: none;
    text-align: center;
    color:black;
    font-family: var(--fuenteNav);
    font-weight: 700;
    font-size: 20px;
    letter-spacing: 1px;

}
