:root{
    --fuenteNav:'Darker Grotesque', sans-serif;
    --fuenteMain:'Over the Rainbow', cursive;
}
html{
    font-size:62.5%;

}
body{
    font-size: 16px;
    font-family: var(--fuentePrincipal);
    margin: 0;
    
}

.contenedor{
    width:80%;
    margin: 0 auto;
}

/* HEADER */
.nav{
    background-color: #f8b218; 
   
}
.all-header{
    display: grid;
    grid: 1fr / 35% 65%;

}
.logo-header{
   display: flex;
   justify-content: center;
   align-items: center;
   
}
.logo-header img{
    height: 60px;
}
.menu-header{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin-right: 180px;
    align-items: center;
    font-family: var(--fuenteNav);
    letter-spacing: 4px;
    font-weight: 600;
}
.menu-header a{
    color:rgb(0, 0, 0);
    font-size: 21px;
    text-decoration: none;
    background-image: linear-gradient(currentColor, currentColor);
    background-position: 0% 100%;
    background-repeat: no-repeat;
    background-size: 0% 2px;
    transition: background-size .3s;
    margin-right: 60px;
}
.menu-header a:focus, a:hover{
    background-size: 100% 2px;
}
.logo-header h1{
    color:rgb(0, 0, 0);
    font-family: var(--fuenteNav);
    font-size: 35px;
    letter-spacing: 1px;
    /* text-shadow:
    0.1rem 0.1rem 0 rgb(255, 213, 0),
    -0.1rem 0.1rem 0 rgb(255, 213, 0),
    -0.1rem -0.1rem 0 rgb(255, 213, 0),
    0.1rem -0.1rem 0 rgb(255, 213, 0); */
   
}

/* SECCION MAIN */

.main{
    border-top:1px solid white;
    /* background-color: #f8b218;
    background-repeat: no-repeat; */
    background-image: url(../img/hamburguesa-carniceriaespinosa-1.jpg);
    background-position: center;
    background-repeat: no-repeat;

}
.mainCa{
background-color: rgba(0, 0, 0, 0.462);
}

.boxesWelcome{
    padding-top: 10px;
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 40% 60%;
    
}

.boxWelcomeText{
   padding:10px;

}
.boxWelcomeText h2{
    color: rgb(255, 255, 255);
    font-family: var(--fuenteNav);
    font-weight: 800;
    
    text-align: center;
    font-size: 30px;
    
}
.boxWelcomeText p{
    color: rgb(255, 255, 255);
    font-family: var(--fuenteNav);
    font-weight: 500;
    letter-spacing: 1px;
    font-size:19px;
    
}
.text-main{
    padding:20px;
}

/*IMAGENES MAIN*/

.imgWelcome{
  padding:10px;
  display: flex;
  justify-content: center;
  align-items: center;

}
.imgWelcome1{
    height: 300px;
    width: 300px;
    border:8px solid white;
    border-radius: 50%;
    background-image: url(../img/hamburguesa_600.jpg);
    background-position: left;
  }
  
/*BOTON*/
.button-welcome{
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 50px;
    width: 100%;
}
.button-cta-welcome{
    padding:15px;
    width: 100%;
    background-color: rgb(255, 255, 255);
    border-radius: 8px;
    
}
.button-cta-welcome a{
    text-decoration: none;
    text-align: center;
    color:rgb(0, 0, 0);
    font-family: var(--fuenteNav);
    font-weight: 800;
    font-size: 20px;
    letter-spacing: 1px;
}

/*******SECCION DEBAJO MAIN*******/
.products{
    background-color: #ffffff;
    height: 100vh;
    border-top:1px solid white;
}
.parts{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 80px 300px;
    padding:20px;
    
    
    
}
.parts div{
    /* border: 1px solid black; */
}

.textProducts h2{
    color: rgb(0, 0, 0);
    font-family: var(--fuenteMain);
    font-weight: 800;
    text-align: center;
    font-size: 32px;
    text-decoration: underline;
    
}

.imageProducts{
    padding:40px;
}
 

