body{
    
}

.seccion1>h2{
    background-color: aqua;
    height: 100px;
}
.seccion2>div>div>h2{
    background-color: aqua;
    height: 100px;
}
.seccionPadding{
    height: 200px;
    background-color: yellowgreen;
    margin: 50px;
    
}

.seccionPadding1{
    height: 200px;
    background-color: yellow;
    padding: 50px;
}

.seccionDisplay>p{
    background-color: aquamarine;
    
}
.seccionDisplay a{
    background-color: blue;
}
.seccionDisplay h1{
    background-color: blueviolet;
}
.seccionDisplay h3{
    background-color: brown;
}
.seccionDisplay h6{
    background-color: burlywood;
}
.seccionDisplay div{
    background-color: chartreuse;
}

.seccionDisplay1 p{
    background-color: aquamarine;
    display: inline;
    
}
.seccionDisplay1 a{
    background-color: blue;
    display: block;
}
.seccionDisplay1 h1{
    background-color: blueviolet;
    display: inline;
}
.seccionDisplay1 h3{
    background-color: brown;
    display: inline;
}
.seccionDisplay1 h6{
    background-color: burlywood;
    display: inline;
}
.seccionDisplay1 div{
    background-color: black;
    display: inline;
}
.seccionFlex{
    background-color: green;
    height: 300px;
    width: 300px;
    display:flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: end;
}

.seccionFlex1{
    background-color: blue;
    height: 300px;
    width: 300px;
    display:flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: end;
}
.porcentajes{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}
.seccionP1{
    width: 20%;
    border:2px solid black;
    text-align: center;
}
.seccionP2{
    width: 30%;
    border:2px solid black;
    text-align: center;
}
.seccionP3{
    width: 50%;
    border:2px solid black;
    text-align: center;
}
.alturas{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    
}
.cien{
    height: 100px;
    border:2px solid black;
}
.doscientos{
    height: 200px;
    border:2px solid black; 
}
.ultimoE{
    display: flex;
}
.ultimoE1{
    width: 40%;
    border: 2px solid black;
}
.ultimoE2{
    display: flex;
    width: 60%;
    border: 2px solid black;
    padding:10px;
}
.p1{
    width: 30%;
    border: 2px solid black;
}
.p2{
    width: 70%;
    border: 2px solid black;
}
.medias{
    height: 500px;
}
@media (max-width:350px) and (min-width:0px) {
    .medias{
        background-color: green;
    }
}
@media (max-width:616px) and (min-width:351px) {
    .medias{
        background-color: red;
    } 
}
@media (max-width:933px) and (min-width:617px){
    .medias{
        background-color: blue;
    }  
}
@media (min-width:934px){
    .medias{
        background-color: brown;
    }
}
.ejercicioAR{
    height: 500px;
    background-image: linear-gradient(to right, red 0%, blue 50%);

    position: relative;
}
.ejercicioAR div{
    width: 40px;
    height: 40px;
    background-color: red;
    position: absolute;
    top: 200px;
    right: 0px;
}
.ejercicioGrid{
    display:grid;
    grid-template-columns: 20% 30% 50%;
    grid-template-rows: 200px 100px;
    
    
}
.ejercicioGrid div{
    border:1px solid black;
    text-align: center;
    
}
.ejercicioGrid2{
    margin-top: 40px;
    display:grid;
    grid-template-columns: 100fr 300fr 200fr 150fr;
    grid-template-rows: 5fr 15fr 16fr 7fr;
    height: 500px;
    
}
.ejercicioGrid2 div{
    border:1px solid black;
    text-align: center;
    
}
.ejercicioGrid3 div{
    border: 1px solid black;
}
.ejercicioGrid3{
    margin-top: 50px;
    display: grid;
    height: 300px;
    grid:2fr 2fr / 1fr 1fr;
}
.repaso{
    margin-top: 50px;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    height: 600px;
}
.repaso div{
    border: 1px solid black;
}
.extender{
    grid-column: 1 / 2;
    grid-row: 1 / 3;
}
.extender3{
    grid-column: 2 / 4;
    grid-row: 2 / 3;
}
.extender4{
    grid-column: 1 / 3;
    grid-row: 3 / 4;
}

.moverDivs{
    margin-top: 50px;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    height: 600px;
}
.moverDivs div{
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
}
.mover1{
    grid-column: 1 / 3;
    grid-row: 3 / 4;
}
.mover2{
    grid-column: 2 / 4;
    grid-row: 2 / 3;
}
.mover3{
    grid-column: 3 / 4;
    grid-row: 1 / 2;
}
.mover4{
    grid-column: 3 / 4;
    grid-row: 3 / 4;
}
.mover5{
    grid-column: 1 / 2;
    grid-row: 1 / 3;
}
.mover6{
    grid-column: 2 / 3;
    grid-row: 1 / 2;
}

.ejerMover{
    margin-top: 50px;
    display: grid;
    grid-template-rows: 100px 200px 100px 100px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    
}
.ejerMover div{
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
}
.ejerMover1{
    grid-column: 4 / 5;
    grid-row: 1 / 3;
}
.ejerMover2{
    grid-column: 3 / 4;
    grid-row: 1 / 2;
}
.ejerMover3{
    grid-column: 2 / 5;
    grid-row: 3 / 5;
}
.ejerMover4{
    grid-column: 1 / 2;
    grid-row: 2 / 5;
}
.ejerMover5{
    grid-column: 1 / 3;
    grid-row: 1 / 2;
}
