@font-face {
    font-family: Gotham;
    src: url(../fonts/GothamBold.ttf) format('truetype');
}

.cartaMovil{
    
    background-color: rgb(250, 179, 14);
    padding: 5rem;
}
.mobileBox{
    display: grid;
    grid-template-columns: 40% 60%;
    grid-template-rows: 1fr;
    border: 1px solid black;
    background-color: #111111;
    border-radius: 5px;
}
.secciones{
    display: flex;
    flex-direction: column;
    gap:3rem;
    padding:4rem;
    border: 1px solid black;
}
.mobileBox h2{
    color:rgb(255, 255, 255);
    font-family: var(--fuenteNav);
    font-size: 35px;
    letter-spacing: 2px;
    text-align: center;
    border-bottom: 1px solid rgb(255, 255, 255);
    padding-bottom: 1rem;
    font-weight: 800;
}
.seccionesCajas{
    display: grid;
    grid-template-columns: 90%;
    grid-template-rows: repeat(7, 7rem);
    grid-row-gap: 22px;
    justify-content: center;
    
}
.tituloCaja{
    border-radius:4px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 4rem;
    background-color: #1b1b1b;
}
.productoSecciones{
    display: flex;
    flex-direction: column;
    gap:3rem;
    padding:4rem;
    
}
.productosCajas{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(25rem,1fr));
    grid-row-gap: 22px;
    justify-content: center;
    gap:20px;
    
}
.contenidoPlato{
    border-radius:8px;
    padding: 2rem;
    display: grid;
    grid-template-rows: 0.6fr 0.4fr;
    background-color: #1b1b1b;
}
.imgProducto{
    height: 28rem;
    
}
.descripcionProducto{
    display: flex;
    flex-direction: column;
    margin-top: 3rem;
}
.mobileBox h3{
    color:rgb(255, 255, 255);
    font-family: var(--fuenteNav);
    font-size: 25px;
    letter-spacing: 1px;
    font-weight: 800;
}
.descripcionProducto p{
    color: rgb(255, 255, 255);
    font-family: var(--fuenteNav);
    font-weight: 500;
    font-size: 20px;
}
.imgProducto img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius:5px;
    box-shadow: 2px 3px 5px 1px rgba(0,0,0,0.53);
    -webkit-box-shadow: 2px 3px 5px 1px rgba(0,0,0,0.53);
    -moz-box-shadow: 2px 3px 5px 1px rgba(0,0,0,0.53); 

}
