:root{
    --fuenteNav:'Darker Grotesque', sans-serif;
    --fuenteMain:'Over the Rainbow', cursive;
    --colorAmarillo: #f8b218;
    --first-color: hsl(38, 92%, 58%);
    --first-color-light: hsl(38, 100%, 78%);
    --first-color-alt: hsl(32, 75%, 50%);
    --second-color: hsl(195, 75%, 52%);
    --dark-color: hsl(212, 40%, 12%);
    --white-color: hsl(212, 4%, 95%);
    --body-color: hsl(212, 42%, 15%);
    --container-color: hsl(212, 42%, 20%);
    --body-font: "Bai Jamjuree", sans-serif;
    --h2-font-size: 2.25rem;
    --normal-font-size: 1rem;
}
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
  }
  .card__container img {
    display: block;
    max-width: 100%;
    height: 330px;
    border-radius: 8px;
    background-size: contain;
  }
  
html{
    font-size:62.5%;

}
body{
    font-size: 16px;
    font-family: var(--fuentePrincipal);
    margin: 0;

}

*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}
nav{
    background: #111111;
    height: 100px;
    width: 100%;
    padding: 0 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo{
    height: 40px;
    margin-left: 3rem;
}
nav h1{
    color:rgb(255, 255, 255);
    font-family: var(--fuenteNav);
    font-size: 35px;
    letter-spacing: 2px;
}
nav ul{
    display: flex;
    justify-content: center;
    margin-right: 3rem;
}
nav ul li{
    margin: 20px 5px 0px 5px;
    
}
li a:focus, a:hover{
    background-size: 100% 2px;
}

nav ul li a{
    font-family: var(--fuenteNav);
    color:rgb(255, 255, 255);
    font-size: 21px;
    font-weight: 600;
    letter-spacing: 4px;
    padding: 7px 13px;
    border-radius: 3px;
    text-transform: uppercase;
    text-decoration: none;
    background-image: linear-gradient(#f8b218, #f8b218);
    background-position: 0% 100%;
    background-repeat: no-repeat;
    background-size: 0% 2px;
    transition: background-size .3s;
    margin-right: 30px;
}

.checkbtn{
    font-size: 30px;
    color: #fff;
    cursor: pointer;
    display: none;
}
#check{
    display: none;
}


@keyframes blinker {
50% {
    opacity: 0;
}
}
@keyframes hideShow {
0%, 16.6%, 33.33%, 100% { width: 0; }
16.66%, 33.3% { width: auto; }
}


/* MEDIAS QUERIES */
@media (max-width: 952px){
    nav ul li a{
        font-size: 16px;
    }
    
}

@media (max-width: 858px){
    .checkbtn{
        display: flex;
    }
    .logo{
        height: 40px;
        margin-left: 0rem;
    }
    nav{
        padding: 0 30px;
    }
    nav i{
        margin-top: 16px;
    }
    ul{
        position: absolute;
        width: 100%;
        height: calc(100vh - 80px);
        background: #f8b218;
        top: 80px;
        left: -100%;
        text-align: center;
        transition: all .5s;
        flex-direction: column;
        z-index: 10;
    }
    nav ul li{
        margin: 20px 0;
    }
    nav ul li a{
        font-size: 20px;
        color:black;
        font-weight: 800;
    }
    #check:checked ~ ul{
        left:0;
    }
    .banner .row h2{
        font-size: 3rem;
    } 
    .banner .btnServices{
        margin-top: 3rem;
        padding: 10px 20px;
        border-radius: 5px;
        font-size: 1.3rem;
    }
}



/* SECCION DE TEXTO */
.descubrenos{
    background-color: #f8b218;
    
}
.darkD{
    background-color: rgba(0, 0, 0, 0.169);
}
.textDescubrenos{
    width: 50%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 0.2fr 0.6fr 0.2fr;
    
}
.textDescubrenos h2{
    margin-top: 6rem;
    color: rgb(5, 5, 5);
    font-family: var(--fuenteMain);
    font-weight: 800;
    text-align: center;
    font-size: 30px;
    
}
.textosP{
    color: rgb(255, 255, 255);
    font-family: var(--fuenteNav);
    font-weight: 500;
    letter-spacing: 1px;
    font-size:19px;
    margin-bottom: 2rem;
}

/* BOTONES */
.btn {
    border: none; 
    color: white; 
    padding: 14px 28px; 
    cursor: pointer; 
    border-radius: 5px; 
    text-transform: uppercase;
    font-weight: 600;
  }
.danger {background-color: #f44336;} 
.danger:hover {background: #da190b;}

.btn-conocenos{
    margin-top:20px;
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
    display: none;
}
@media (max-width:768px) {
    .disolve{
        display:none;
    }
    .btn-conocenos{
        display: none;
    }
    .textDescubrenos{
        width: 90%;
        text-align: center;
    }

}

/* SECCION 3 FOTOS MENU */

.content-menu{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    background-color: rgba(0, 0, 0, 0.462);
}

.content-menu div{
    height: 55rem;
}

.darkM{
    background-color: rgba(0, 0, 0, 0.462);
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:20px;
    
}
.titulo-menu{
    display: flex;
    justify-content: center;
    align-items: flex-end;
    
    
}
.titulo-menu h2{
    color: rgb(255, 255, 255);
    font-family: var(--fuenteMain);
    font-weight: 800;
    text-align: center;
    font-size: 35px;
    text-transform: uppercase;
    
}

.menu1{
    background-image: url(/proyecto_personal/img/hamburguesa.jpg);
    
    
}
.menu2{
    background-image: url(/proyecto_personal/img/bolsa_menu.png);
    
}
.menu3{
    background-image: url(/proyecto_personal/img/hamburguesa-menu.png);

}
.btn-menu{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap:20px;

}
.btnM {
    border: none; 
    color: white; 
    padding: 14px 28px; 
    cursor: pointer; 
    border-radius: 5px; 
    text-transform: uppercase;
    font-weight: 500;
    font-size:18px
  }
.btnMR {background-color: #f44336;} 
.btnMR:hover {background: white;color:#f44336;}

.btn-M{
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}
@media (max-width:768px) {
    .content-menu{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr;
    }

}
.localizacion{
    background-color: #111111;
    padding: 40px 20px;
    
    
}
.box-localizaciones{
    width: 80%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    gap:20px;
}

.localizacion1{
    border-right:1px solid white;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 0.2fr 0.8fr;
    text-align: center;
    
}
.localizacion2{
    
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
}
.data{
   
    padding: 10px;
    color:#fff;
    font-family: var(--fuenteNav);
    font-size: 22px;
    font-weight: 500;

 }
 .rss{
    margin-top: 50px;
    padding: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    justify-content: center;

 }
 .rss a{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
 }
.rss img{
    
    width:50px;
    height: 50px;
}
.localizacion1 h2{
    color:white;
    font-family: var(--fuenteNav);
    font-size: 40px;
    font-weight: 800;
    text-align: center;
 }
 .ubicacion{
    padding:20px;
 }
 @media (max-width:768px) {
    .box-localizaciones{
        width: 90%;
        margin: 0 auto;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
        gap:20px;
    }
    .localizacion1{
        border-right: 0px;
        border-bottom: 1px solid white;
    }
}
.politicas{
    padding: 50px;
    background-color: #000000;
    
 }
 .privacidad{
    
    display: flex;
    justify-content: center;
 }
 .privacidad a{

    color:rgb(255, 255, 255);
    font-family: var(--fuenteNav);
    font-weight: 500;
    font-size: 26px;
    text-decoration: none;
    margin-right: 40px;
    background-image: linear-gradient(currentColor, currentColor);
    background-position: 0% 100%;
    background-repeat: no-repeat;
    background-size: 0% 2px;
    transition: background-size .3s;
    margin-right: 60px;
    
}
.privacidad a:focus, a:hover{
    background-size: 100% 2px;
}
@media (max-width:768px) {
    .privacidad{
        margin-left: 5rem;
        justify-content: center;
     }
     .privacidad a{
        font-size:14px;
     }
     
}



/* PAGINA DE CONTACTO */

.paginaContacto{
    background-color: #df9f16;
    padding: 5rem;
}
.contactoGlobal{
    width:90%;
    background-color: #111111;
    margin:0 auto;
    border-radius: 5px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    padding: 30px;
}
.ubicacionContacto{
    padding:2rem;
    border-left: 1px solid white;
}
.textoContacto{
    padding:3rem;
}
.textoContacto h2{
    color:white;
    font-family: var(--fuenteNav);
    font-size: 40px;
    font-weight: 800;
    text-align: center;
    margin-bottom: 20px;
    
}
.dataContacto{
   text-align: center;
    padding: 10px;
    color:#fff;
    font-family: var(--fuenteNav);
    font-size: 22px;
    font-weight: 500;
    margin-top: 7rem;

 }
 @media (max-width:968px) {
    .contactoGlobal{
        width:auto;
        background-color: #111111;
        margin:0 auto;
        border-radius: 5px;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
        padding: 30px;
    }
    .ubicacionContacto{
        padding:2rem;
        border-top: 1px solid white;
        border-left:0px;
        
    }
    .textoContacto{
        padding:0;
    }
     
}

/* PAGINA DE CARTA */
.seccionesCarta{
    margin-bottom: 5rem;
    display: flex;
    flex-wrap:wrap;
    flex-direction: column;
    gap:3rem;
    justify-content: flex-start;
}
.navMenu{
    background: var(--colorAmarillo);
    height: 6rem;
    padding: 0 5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius:6px;
    width: 67rem;
}
.navMenu h2{
    color:rgb(0, 0, 0);
    font-family: var(--fuenteMain);
    text-transform: uppercase;
    font-weight: 800;
}
.checkbtnMenu{
    font-size: 30px;
    color: #000000;
    cursor: pointer;
    
}
#checkMenu{
    display: none;
}
.icon-desplegable{
    background-image: url(../img/caret-cuadrado-abajo.png);
    background-size: contain;
    display: flex;
    height: 40px;
    width: 40px;
}
.productos{
    position: absolute;
        width: 80%;
        height: 30vh;
        border:2px solid black;
        top: 250px;
        left: -100%;
        text-align: center;
        transition: all .5s;
        flex-direction: column;
        z-index: 10;
}

#checkMenu:checked ~ .productos{
    left:50px;
}

/* CARTAS */
.carta{
    /* padding:5rem; */
    text-align: center;
    background-color: var(--colorAmarillo);
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding:2rem 5rem;
    
}
.carta h2{
    color: rgb(0, 0, 0);
    font-family: var(--fuenteNav);
    font-size: 40px;
    font-weight: 800;
    text-align: center;
    margin-bottom: 20px;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
    font-family: var(--body-font);
    font-size: 16px;
    background-color:#111111;
     color: var(--white-color);
    font-weight: 600;
    border-radius: 8px;
    padding-bottom: 1rem;
  }
  
  .card__container {
    padding-block: 5rem;
    
  }
  
  .card__content {
    margin-inline: 1.75rem;
    border-radius: 1.25rem;
    overflow: hidden;
  }
  
  .card__article {
    /* width: 300px;  */
    border-radius: 1.25rem;
    overflow: hidden;
  }
  
  .card__image {
    position: relative;
    /* background-color: var(--first-color-light); */
    /* padding-top: 1.5rem; */
    margin-bottom: -.75rem;
  }
  
  .card__data {
    background-color: var(--container-color);
    padding: 1.5rem 2rem;
    border-radius: 1rem;
    text-align: center;
    position: relative;
    z-index: 10;
  }
  
  .card__img {
    width: 330px;
    margin: 0 auto;
    position: relative;
    z-index: 5;
  }
  
  .card__shadow {
    width: 200px;
    height: 200px;
    background-color: var(--first-color-alt);
    border-radius: 50%;
    position: absolute;
    top: 3.75rem;
    left: 0;
    right: 0;
    margin-inline: auto;
    filter: blur(45px);
  }
  
  .card__name {
    font-size: var(--h2-font-size);
    color: var(--second-color);
    margin-bottom: .75rem;
  }
  
  .card__description {
    font-weight: 500;
    margin-bottom: 1.75rem;
  }
  
  .card__button {
    display: inline-block;
    background-color: var(--first-color);
    padding: .75rem 1.5rem;
    border-radius: .25rem;
    color: var(--dark-color);
    font-weight: 600;
  }
  
  /* Swiper class */
  .swiper-button-prev:after,
  .swiper-button-next:after {
    content: "";
  }
  
  .swiper-button-prev,
  .swiper-button-next {
    width: initial;
    height: initial;
    font-size: 3rem;
    color: var(--second-color);
    display: none;
  }
  
  .swiper-button-prev {
    left: -8px;
  }
  
  .swiper-button-next {
    right: -8px;
  }
  
  .swiper-pagination-bullet {
    background-color: hsl(212, 32%, 40%);
    opacity: 1;
  }
  
  .swiper-pagination-bullet-active {
    background-color: var(--second-color);
  }
  
  /*=============== BREAKPOINTS ===============*/
  /* For small devices */
  @media screen and (max-width: 767px) {
    .card__data {
      padding: 1rem;
    }
    .swiper-button-next{
        display: block;
        
    }
    .swiper-button-prev {
      display: block;
      
    }


  }
  
  /* For medium devices */
  @media screen and (min-width: 768px) {
    .card__content {
      margin-inline: 3rem;
    }
  
    .swiper-button-next,
    .swiper-button-prev {
      display: block;
      
    }
  }
  
  /* For large devices */
  @media screen and (min-width: 1120px) {
    .card__container {
      max-width: 1120px;
    }
  
    .swiper-button-prev {
      left: -1rem;
    }
    .swiper-button-next {
      right: -1rem;
    }
  }


  .cartaPlana{
    background-color: #f8b218;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .boxCarta{
    
    background-color: #111111;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    height: 80vh;
    width: 95%;
    
  }
  .boxCarta div{
    border: 1px solid white;
  }
  .cartaParte1{
    padding:2rem;
    color:white;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 0.6fr 0.4fr;
    border:1px solid white;
  }
  .cartaParte2{
    padding:2rem;
    color:white;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 0.5fr 0.2fr 0.3fr;
    border:1px solid white;
  }
  .cartaParte3{
    padding:2rem;
    color:white;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 0.7fr 0.3fr;
    border:1px solid white;
  }