:root{
    --fuenteNav:'Darker Grotesque', sans-serif;
    --fuenteMain:'Over the Rainbow', cursive;
}
html{
    font-size:62.5%;

}
body{
    font-size: 16px;
    font-family: var(--fuentePrincipal);
    margin: 0;

}

.nav{
    background-color: #000000; 

}
.all-header{
    display: grid;
    grid: 1fr / 35% 65%;

}
.logo-header{
   display: flex;
   justify-content: center;
   align-items: center;
   
}
.logo-header img{
    height: 60px;
}
.menu-header{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin-right: 180px;
    align-items: center;
    font-family: var(--fuenteNav);
    letter-spacing: 4px;
    font-weight: 600;
}
.menu-header a{
    color:rgb(255, 255, 255);
    font-size: 21px;
    text-decoration: none;
    background-image: linear-gradient(currentColor, currentColor);
    background-position: 0% 100%;
    background-repeat: no-repeat;
    background-size: 0% 2px;
    transition: background-size .3s;
    margin-right: 60px;
}
.menu-header a:focus, a:hover{
    background-size: 100% 2px;
}
.logo-header h1{
    color:rgb(255, 255, 255);
    font-family: var(--fuenteNav);
    font-size: 35px;
    letter-spacing: 1px;
}

/* SECCION DE TEXTO */
.descubrenos{
    background-color: #f8b218;
}
.darkD{
    background-color: rgba(0, 0, 0, 0.169);
}
.textDescubrenos{
    width: 50%;
    margin: 0  auto;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 0.2fr 0.6fr 0.2fr;
    
}
.textDescubrenos h2{
    margin-top: 6rem;
    color: rgb(5, 5, 5);
    font-family: var(--fuenteMain);
    font-weight: 800;
    text-align: center;
    font-size: 30px;
}
.textDescubrenos  p{
    color: rgb(255, 255, 255);
    font-family: var(--fuenteNav);
    font-weight: 500;
    letter-spacing: 1px;
    font-size:19px;
}
.btn {
    border: none; 
    color: white; 
    padding: 14px 28px; 
    cursor: pointer; 
    border-radius: 5px; 
    text-transform: uppercase;
    font-weight: 600;
  }
.danger {background-color: #f44336;} 
.danger:hover {background: #da190b;}

.btn-conocenos{
    margin-top:20px;
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
    display: none;
}
@media (max-width:768px) {
    .disolve{
        display:none;
    }
    .btn-conocenos{
        display: none;
    }
    .textDescubrenos{
        width: 90%;
        text-align: center;
    }

}

/* SECCION 3 FOTOS MENU */

.content-menu{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    background-color: rgba(0, 0, 0, 0.462);
}

.content-menu div{
    height: 60rem;
}

.darkM{
    background-color: rgba(0, 0, 0, 0.462);
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:20px;
    
}
.titulo-menu{
    display: flex;
    justify-content: center;
    align-items: flex-end;
    
    
}
.titulo-menu h2{
    color: rgb(255, 255, 255);
    font-family: var(--fuenteMain);
    font-weight: 800;
    text-align: center;
    font-size: 35px;
    text-transform: uppercase;
    
}

.menu1{
    background-image: url(/proyecto_personal/img/mesas_menu.jpg);
    background-position: center;
}
.menu2{
    background-image: url(/proyecto_personal/img/bolsa_menu.png);
    background-position: center;
}
.menu3{
    background-image: url(/proyecto_personal/img/hamburguesa-menu.png);
    background-position: center;
}
.btn-menu{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap:20px;

}
.btnM {
    border: none; 
    color: white; 
    padding: 14px 28px; 
    cursor: pointer; 
    border-radius: 5px; 
    text-transform: uppercase;
    font-weight: 500;
    font-size:18px
  }
.btnMR {background-color: #f44336;} 
.btnMR:hover {background: white;color:#f44336;}

.btn-M{
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}
@media (max-width:768px) {
    .content-menu{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr;
    }

}
.localizacion{
    background-color: rgba(0, 0, 0);
    padding: 40px 20px;
    
    
}
.box-localizaciones{
    width: 80%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    gap:20px;
}

.localizacion1{
    border-right:1px solid white;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 0.2fr 0.8fr;
    text-align: center;
    
}
.localizacion2{
    
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
}
.data{
   
    padding: 10px;
    color:#fff;
    font-family: var(--fuenteNav);
    font-size: 22px;
    font-weight: 500;

 }
 .rss{
    margin-top: 50px;
    padding: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    justify-content: center;

 }
 .rss a{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
 }
.rss img{
    
    width:50px;
    height: 50px;
}
.localizacion1 h2{
    color:white;
    font-family: var(--fuenteNav);
    font-size: 40px;
    font-weight: 800;
    text-align: center;
 }
 .ubicacion{
    padding:20px;
 }
 @media (max-width:768px) {
    .box-localizaciones{
        width: 90%;
        margin: 0 auto;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
        gap:20px;
    }
    .localizacion1{
        border-right: 0px;
        border-bottom: 1px solid white;
    }
}
.politicas{
    padding: 50px;
    background-color: #8e2727;
 }
 .privacidad{
    
    display: flex;
    justify-content: center;
 }
 .privacidad a{
    color:rgb(255, 255, 255);
    font-family: var(--fuenteNav);
    font-weight: 500;
    font-size: 26px;
    text-decoration: none;
    margin-right: 40px;
    background-image: linear-gradient(currentColor, currentColor);
    background-position: 0% 100%;
    background-repeat: no-repeat;
    background-size: 0% 2px;
    transition: background-size .3s;
    margin-right: 60px;
    
}
.privacidad a:focus, a:hover{
    background-size: 100% 2px;
}
@media (max-width:768px) {
    .privacidad{
        margin-left: 5rem;
        justify-content: center;
     }
     .privacidad a{
        font-size:14px;
     }
     
}